.container {
  width : 95vw;
  height : 95vh;
  display: flex;
}


.primaryCamera{
  grid-area: primaryCamera;
  border : black 5px solid;
  width: 320px;
  height: 240px;
  background-color: grey;
  // margin: 10px;
}

#vid{
  width: 320px;
  height: 240px;
}

.secondaryCamera{
  grid-area: secondaryCamera;
  border : black 5px solid;
  width: 320px;
  height: 240px;
  // margin: 10px;
}

.cameras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1vw;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.codeBlock{
  grid-area: code;
  border : green 1px solid;
  height: 60vh;
  width:70vw;
}

.chatBlock{
  grid-area: chat;
  border : green 1px solid;
  height: 30vh;
  width:70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chatArea {
  width: 98%;
  height: 80%;
  border: black 1px solid;
  overflow: auto;
}

.chatInputSection {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chatInput {
  height: 80%;
  width: 80%;
}

.sendChat {
  width: 16%;
  height: 80%;
}

.message {
  width: 100%;
  word-wrap: break-word;
  line-height: 20px;
  font-size: 16px;
}

.message:nth-child(even) {
  background: grey;
  color: white;
}
